@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
  }

  /* Header */
  .logo {
    margin-right: 76px;
    padding: 0;
    margin-left: 0;
  }
  .header {
    padding: 24px 0;
  }
  .container-header {
    display: flex;
    text-align: center;
  }
  .nav {
    display: flex;
  }
  .header-list {
    display: flex;
    gap: 40px;
    position: relative;
  }
  .address {
    display: flex;
    margin-left: auto;
  }
  .address-list {
    display: flex;
    gap: 40px;
  }
  .address-info,
  .phone {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-tex-color);
    transition: var(--transition-focus);
  }
  /* ------Підкреслення сторінки------ */
  .nav-linear::after {
    content: "";
    position: relative;
    display: block;
    width: 100%;
    height: 4px;
    bottom: -25px;
    background: #404bbf;
    border-radius: 2px;
    z-index: 1;
  }
  .current {
    color: #404bbf;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .mob-menu,
  .menu-open {
    display: none;
  }
  /* Section main */
  .section-main {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/main-img-new.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-main {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/main-img2x.jpg");
    }
  }
  .main-tex {
    margin-bottom: 48px;
  }
  /* --------Section-info----------- */
  .section-info {
    padding: 120px 0;
  }
  .info-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: inherit;
    width: 264px;
    text-align: inherit;
  }
  .info-title {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-tex-color);
    width: 264px;
    font-weight: 400;
  }
  .info-img {
    height: 112px;
    background-color: #f4f4fd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }
  .info-list {
    /* align-items: baseline; */
  }
  /* --------What are we doing--------- */
  .work-section {
    padding-bottom: 120px;
    display: block;
  }
  .work-list {
    display: flex;
    gap: 24px;
  }
  .work-text {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: inherit;
    text-align: center;
    margin-bottom: 72px;
    text-transform: capitalize;
  }

  /* -----team-section------ */
  .team-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team-list {
    gap: 24px;
  }

  /* -------customers---------- */
  .customers {
    margin-top: 120px;
    padding-bottom: 120px;
  }
  .company-list {
    gap: 24px;
    flex-wrap: nowrap;
  }
  .company-item {
    width: calc((100%-168px) / 6);
    height: 88px;
  }
  /* ------footer------ */
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-container {
    display: flex;
  }
  .footer-logo-cont {
    margin-right: 120px;
    text-align: inherit;
  }
  .soc-media-logo {
    display: inherit;
    gap: 0;
    margin-bottom: 0;
  }
  .footer-subscribe {
    margin-left: 80px;
  }
  /* ----portfolio----- */
  .portfolio {
    padding-bottom: 120px;
    margin-top: 96px;
  }

  .portfolio-list-button {
    margin-bottom: 72px;
    display: flex;
    justify-content: center;
  }
  /* ------portfolio-info------ */
  .portfolio-info-list {
    gap: 48px 24px;
  }
  .modal {
    padding: 24px;
    width: 408px;
    height: 584px;
  }
}
